.formContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.eventRegisterContainer {
    display: flex;
    flex-direction: column;
    /* min-width: 1000px; */
    max-width: 700px;
    flex-shrink: 1;
    /* border: 5px solid #ccc; */
    border-radius: 10px;
    justify-content: space-around;
    padding: 20px;
    background-color: var(--light-grey);
    /* background-color: yellow; */
}

.cardContainer {
    display: flex;
    /* background-color: blue; */
    justify-content: left;
    flex-wrap: wrap;
    gap: 15px;
    margin: 15px;
}

.locationsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.addButton{
    color: var(--primary-text);
    align-self: center;
    justify-self: center;
    height: 30px;
    width: 30px;
}

.eventCard {
    background-color: var(--dark-light-grey);
    color: var(--primary-text);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex-grow: 1;
}

.name {
    font-weight: 600;
    text-align: center;
    color: var(--primary-text);
    margin-bottom: 20pxy;
}

.time {
    color: var(--primary-text);
    text-align: right;
}

.location {
    color: var(--primary-text);
    text-align: left;
    white-space: pre-line;
    justify-self: center;
    align-self: center;
}

.description {
    color: var(--primary-text);
    margin-top: 15px;
}

.input {
    width: '100%';
    padding: '8px';
    border-radius: '5px'
}

.submitButton{
    align-self: center;
    justify-self: last baseline;
}