.banner{
    width: 100%;
}

.navContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px;
    gap: 10px;
}

a:has(.linkButton) {
    flex-grow: 1;
    flex-shrink: 1;
}

.linkButton {
    background-color: #005289;
    border-radius: 5px;
    padding: 5px;
    color: white;
    width: 100%;
    border: none;
}

.divider{
    border-top: 2px solid black;
    margin: 10px;
}